@model Profile.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "UserList";
}

@{
    var i = 1;
}

<style>
    .table tbody tr:hover td {
        color: #535353;
    }
</style>

<!-- Hoverable rows start -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/User/CreateUser" class="btn btn-primary col-md-2">Create New User</a>
                    <form asp-action="UserList" asp-controller="User" class="col-12">
                        <div class="form-row mt-3">
                            <div class="col-md-3 mb-3">
                                <div class="row">
                                    <div class="col-6 col-xl-10">
                                        <input type="text" asp-for="SearchFullname" class="form-control" placeholder="Search FullName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-3 ">
                                <div class="row">
                                    <div class="col-6 col-xl-10">
                                        <select class="form-control" asp-for="SortType" asp-items="Html.GetEnumSelectList<Profile.Models.Enums.SortType>()" name="sortType">
                                        </select>
                                    </div>
                                    @*<div class="col-2 col-xl-1">
                                        <button class="btn btn-warning reset-tagging" type="submit">Sort</button>
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <div class="row">
                                    <div class="col-6 col-xl-10">
                                        <select class="form-control" asp-for="OrderType" asp-items="Html.GetEnumSelectList<Profile.Models.Enums.OrderType>()" name="orderType">
                                        </select>
                                    </div>
                                    <div class="col-2 col-xl-1">
                                        <button class="btn btn-warning reset-tagging" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="card-content collapse show col-12" style="background-color:#fff;">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Time Created</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@user.Age</td>
                                    <td>@user.Gender.DisplayName()</td>
                                    <td>@user.TimeCreated</td>
                                    <td>
                                        <a href="/User/EditUser/@user.UserId" class="btn btn-sm btn-outline-primary">Edit</a>
                                        <a href="/User/DeleteUser/@user.UserId" class="btn btn-sm btn-outline-danger">Delete</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
